{% extends 'base/base.html' %}

{% block content %}
  <div class="col-md-12">
    <h1 class="landing-text my-5">
      Ox<span class="text-spacer">y</span><br>
      <span class="text-highlight">Open</span><br>
      Source
    </h1>

    <a class="px-md-5 mx-auto mission-statement pb-5 d-block" href="/what-we-do/">
      <button href="/what-we-do/" type="button" name="button" class="what-we-do-button mx-auto px-md-5">What we do</button>
    </a>

    <div class="px-md-5 mx-auto mission-statement pb-4">Our mission is to create an inclusive and collaborative community around Computer Science and provide resources and opportunities for all Oxy students</div>
  </div>
{% endblock %}
