{% extends 'base/base.html' %}

{% block content %}
  <div id="container-resources">
    <div id="open-source-resources">

      <h2 class="pt-4 font-weight-bold">Want to join Oxy Open Source?</h2>

      <h5 class="my-4">Subscribe to our <a href="https://mailman.oxy.edu/mailman/listinfo/oxyopensource-l" target="_blank">mailing list</a> and join us on <a href="https://join.slack.com/t/oxyos/signup" target="_blank">Slack</a>!</h4>

      <h2 class="pt-4 font-weight-bold">Looking for advice/mentorship from an upperclassmen?</h2>

      <h5 class="my-4">Join our buddy system! We can pair you with a student eager to help out. </br>
        Email opensource@oxy.edu to get started!</h4>
  
      <h2 class="pt-4 font-weight-bold">Have a burning question about Computer Science at Oxy?</h2>

      <h5 class="my-4">We've answered as many as we could in this <a href="/static/qa.pdf" target="_blank">Computer Science Q&amp;A</a></h4>

      <h2 class="py-4 font-weight-bold">Past Presentations and Workshops</h2>

      <div class="row mx-3">
        <div class="col-12 col-xl py-1">
          <div class="resource-slide-container">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRYy_gbObzglLMq6S2daY8KnlBEh9tvrimaoIi3_L3RiGFCRnvkHgbbNFyhXWj9-9db6O5Idgj7kSV1/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          </div>
        </div>
        <div class="col-12 col-xl py-1">
          <div class="resource-slide-container">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRntiHjrLtPIbTNWTJnQ9yy1J3Z8JPWqM67WtkM44UGRwBCssw88hW4O_Eot8wgtSDqTGPNwyPDpS4H/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          </div>
        </div>
        <div class="col-12 col-xl py-1">
          <div class="resource-slide-container">
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS8wLCXu0y_v-nh6QKtsCF0gQu-p1zrj_TwbwDNU0InVz1j00iGi9G20LSGWYTx-Jk518KDO2yjKtIO/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          </div>
        </div>
      </div>

    </div>
    <div id="academic-support" class="py-3">
      <h3 class="mb-3 font-weight-bold">Academic Support</h3>
      <h5 class="d-inline-block w-75 ">Workspace is a place where students come together to work on CS projects and coursework. It is a great opportunity to make connections with other CS students and get help from them. Additionally, tutors who work for Oxy's Scientific Scholars Achievement Program (SSAP), a student-led academic support organization, as well as class TAs are available for further help.</h5>

      <div>
        <u>Workspace & SSAP Hours</u>
      </div>
      <p>Sun, 6-8 pm PST</p>
      <p>Tues, 6-8 pm PST</p>

    </div>

    <h3 class="mb-3 font-weight-bold">Career Support</h3>
    <h5 class="d-inline-block w-75 ">Stay up to date on internship and research opportunities by joining the CS Department's <a href = "https://mailman.oxy.edu/mailman/listinfo/compsci-opportunities-l"> opportunities mailing list</a>!</h5>

  </div>
{% endblock %}
