{% extends 'base/base.html' %}

{% block content %}

<div class="col-12 py-4 font-weight-bold">
  <h2>
    What we do at Oxy Open Source
  </h2>

  <div class="activity">
    🧑‍🤝‍🧑 Throw a social hour every friday
  </div>
  <div class="activity">
    📅 Host an event every two weeks
  </div>
  <div class="activity">
    📽️ Oversee the completion of four open-source projects, annually
  </div>
  <div class="activity">
    🌱 Hold Workspace, a hub for collaboration, two times a week
  </div>
  <div class="activity">
    🗳️ Voice student input in CS department meetings
  </div>
  <div class="activity">
    🤝 Manage a buddy system to connect students with mentors 
  </div>
</div>


Got any more questions? Email us at <a href="mailto:opensource@oxy.edu" class="text-highlight">opensource@oxy.edu</a>, or check out our Q&A on commonly asked questions at the <a href="/resources/" class="text-highlight">resources page</a>!

<div class="col-12 py-3">
  <div class="row justify-content-center font-weight-bold">
    Find us here!
  </div>
  <a class="nav-img d-inline-block" href="https://join.slack.com/t/oxyos/signup"><img class="img-fluid" src="/static/img/slack.svg" width="120px" height="120px"></a>
  <a class="nav-img d-inline-block" href="https://github.com/oxyos"><img class="img-fluid" src="/static/img/GitHub-Mark-120px-plus.png" width="120px" height="120px"></a>
  <a class="nav-img d-inline-block" href="https://www.facebook.com/oxyopensourceclub"><img class="img-fluid" src="/static/img/f_logo_RGB-Blue_114.png" width="120px" height="120px"></a>
  <a class="nav-img d-inline-block" href="https://www.instagram.com/oxyopensource/"><img class="img-fluid" src="/static/img/IG_Glyph_Fill.jpg" width="120px" height="120px"></a>
</div>

{% endblock %}
