/* General elements */

.spacer {
    flex-grow:1;
}

body {
    margin:0;

    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

/* WebP fallback for non-blink browsers */
.no-webp body {
  background-image: url('../img/2018-0608_JacarandaTrees-07.png');
}

.webp body {
  background-image: url('../img/2018-0608_JacarandaTrees-07.webp');
}

nav {
    background-color: #fffffd;
}

/* Global Formating */

.text-highlight {
    color: #fd7346;
}

/* Navigation bar */

.nav-img {
    display: block;
    width: 5rem;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .nav-img {
        width: 3rem;
    }
}

@media (min-width: 968px) {
    .nav-img {
        width: 1.8rem;
    }
}

@media (max-width: 575.98px) {
    .nav-img {
        width: 2rem;
    }
}

.nav-item {
    margin: 0 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .nav-item {
        margin: 0 0.5rem;
    }
}

.nav-link {
    padding: auto 0;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .nav-link {
        font-size: 1rem;
    }
}

.navbar-brand {
    display: block;
    width: 3.25rem;
}

/* Content Area */

.mission-statement {
    font-size: 1.25rem;
}

.content-box{
    min-height: 30vh;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
}

/* Footer */

footer {
    color:#ffffff;
    background-color: #2d2e2e;
}

.text-opensource {
    font-size: 2rem;
}

/* Home Page */

.landing-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100px;
    text-align: center;
    display: inline-block;
}

.what-we-do-button {
  border: none;
  height: 4rem;
  border-radius: 7px;
  background: #fd7346; /* Still here for older browsers */
  background: linear-gradient(145deg, #ff7b4b, #e4683f);
  font-weight: bold;
  outline: none;
}

.what-we-do-button:focus {
  outline: none;
}

@media (max-width: 575.98px) {
    .landing-text {
        font-size: 5rem;
    }
}

@media (max-width: 375.98px) {
    .landing-text {
        font-size: 3.5rem;
    }
}

.text-spacer { /* Literally just because the kerning on some of the letters looks bad */
    margin-left: 8px;
}

/* Events Page */

.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* About Page */

.eboard .member {
    display:inline-block;
}

.headshot {
    width: 250px;
    height: 250px;
}

.title {
    font-style: italic;
}

.img-circle {
  border-radius: 100%;
}

/* What we do page */

.activity {
  font-size: 1.25rem;
  margin: 1rem 0;
}

/* Resources Page */

.resource-slide-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Ratio */
  height: 0;
  overflow: hidden;
}
.resource-slide-container iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
