<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The home page for the Open Source club at Occidental College, where you can find out more about the club">

    {% if title %} <!-- Tests if a title exists, and adds it to the title if found -->
    <title>Oxy Open Source - {{ title }}</title>
    {% else %}
    <title>Oxy Open Source</title>
    {% endif %}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap" rel="stylesheet">

    <link rel="prefetch" href="https://docs.google.com/presentation/d/1sial6KCEamxoqTg8niUAB8Tvf8RTDk8N0brB295W5es/embed">
    <link rel="prefetch" href="https://docs.google.com/presentation/d/1QUmc7NjOR__r0jslcvXOcMm4_5l2fJ0fHjgxpQDScUc/embed">
    <link rel="prefetch" href="https://docs.google.com/presentation/d/1G130FEZvlLVwz-JRYHoGwGQ9-9jRbKFuzXq-wvSULDU/embed">
    <link rel="prefetch" href="https://calendar.google.com/calendar/embed?wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=opensource%40oxy.edu&amp;color=%233F51B5&amp;showTabs=0&amp;showPrint=0&amp;showTz=0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet" />
  </head>

  <body>

    <script src="/static/js/modernizr-custom.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light px-5">

      <div class="col-10 offset-1">
        <div class="row">
          <a class="navbar-brand" href="/">
            <img class="img-fluid" src="/static/img/oxyos-logo.svg" alt="An image of the Oxy Open Source logo header">
            <div class="sr-only">Back to Landing Page</div>
          </a>

          <button class="navbar-toggler ml-auto my-auto p-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link {% if activePage == 'what-we-do' %}active{% endif %}" href="/what-we-do/">What we do</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if activePage == 'about' %}active{% endif %}" href="/about/">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if activePage == 'resources' %}active{% endif %}" href="/resources/">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if activePage == 'events' %}active{% endif %}" href="/events/">Events</a>
              </li>

              <div class="row m-3 m-sm-0 py-2">
                <div class="col-sm d-lg-none"></div>
                <li class="nav-item col-3 col-sm mx-0 mx-lg-2 p-0">
                  <a class="nav-img" href="https://join.slack.com/t/oxyos/signup"><img class="img-fluid" src="/static/img/slack.svg" width="120px" height="120px"></a>
                </li>
                <li class="nav-item col-3 col-sm mx-0 mx-lg-2 p-0">
                  <a class="nav-img" href="https://github.com/oxyos"><img class="img-fluid" src="/static/img/GitHub-Mark-120px-plus.png" width="120px" height="120px"></a>
                </li>
                <li class="nav-item col-3 col-sm mx-0 mx-lg-2 p-0">
                  <a class="nav-img" href="https://www.facebook.com/oxyopensourceclub"><img class="img-fluid" src="/static/img/f_logo_RGB-Blue_114.png" width="120px" height="120px"></a>
                </li>
                <li class="nav-item col-3 col-sm mx-0 mx-lg-2 p-0">
                  <a class="nav-img" href="https://www.instagram.com/oxyopensource/">
                    <img class="img-fluid" src="/static/img/IG_Glyph_Fill.jpg" width="120px" height="120px">
                  </a>
                </li>
                <div class="col-sm d-lg-none"></div>
              </div>

            </ul>
          </div>
        </div>
      </div>

    </nav>

      <div class="row flex-grow-1 flex-shrink-1 m-0">
        <div class="col-12 col-md-8 offset-0 offset-md-2 my-auto">
          <div class="content-box text-center">

            {% block content %}{% endblock %}

          </div>
        </div>
      </div>

    <footer class="row p-2 m-0">
      <div class="col-10 offset-1">

        <div class="row">
          <div class="col-12 col-sm-6 text-center text-sm-left">
            <div class="text-opensource">
              <span class="text-highlight">Open</span>Source
            </div>
            Occidental College
          </div>
          <div class="col-12 col-sm-6 my-auto text-center text-sm-right">
            <div style="color: rgba(255,255,255,.60);">
              1600 Campus Road <br> Los Angeles, CA, 90041
            </div>
            <div>
              <a class="text-highlight" href="mailto:opensource@oxy.edu">opensource@oxy.edu</a>
            </div>
          </div>
        </div>

      </div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </body>

</html>
